<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{event.image_url}}" alt="Card image cap">
    <h5>@{{event.organization_name}}</h5>
    <h3>{{event.title}}</h3>

    <div class="lead">{{event.description}}</div>
    <h5>{{event.date}} {{event.time}}</h5>

    <form action="{{event.id}}/edit" method="GET">
      <button type="submit">Edit</button>
    </form>
  </div>
</div>
